body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  font-family: 'MicrosoftYaHei';
  background: #F4F4F4;
  height: 100%;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
.el-button {
  min-width: 90px;
  height: 34px;
  padding: 0 12px;
  text-align: center;
  line-height: 34px;
}
input {
  outline: none;
  border: 1px solid #EFEFEF;
  border-radius: 4px;
}
i {
  font-style: normal;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.el-input input {
  font-size: 12px;
  padding: 0 10px;
}
.gray {
  background: #F7F7F7;
}
.el-popper .popper__arrow {
  display: none;
}
.el-message--error {
  background-color: #FFF5F5;
}
.el-message__content {
  line-height: 25px;
}
